<%= f.fields_for :answers do |a| %>
  <div class="answer_fields">
    <div class="field">
      <table width="100%" border="0">
        <tr valign="middle">
          <th><%= f.label I18n.t(:option, index: (a.index + 1)) %></th>
          <td width="55%"><%= a.text_field :content, class: "form-control" %></td>
          <td><strong>&nbsp;&nbsp;<%= I18n.t(:correct) %>:</strong></td>
          <td><%= a.check_box :correct%></td>
          <td><strong>&nbsp;&nbsp;<%= I18n.t(:remove) %>:</strong></td>
          <td><%= a.check_box :_destroy%></td>
         </tr>
      </table>
      <hr>
    </div>
  </div>
<% end %>
