<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-2">
    <%= I18n.t "word.category" %>
    <select name="category_id" >
      <option value="0"><%= I18n.t "word.all" %></option>
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>"><%= category.title %></option>
      <% end %>
    </select>
  </div>
  <div class="col-md-2">
    <%= I18n.t "word.sort_by" %>
    <select name="sort_by" >
      <option value="id"><%= I18n.t "word.id" %></option>
      <option value="alphabet"><%= I18n.t "word.alphabet" %></option>
    </select>
  </div>
  <% radio_button_array = [I18n.t("word.passed"), I18n.t("word.learned"), I18n.t("word.unlearned"), I18n.t("word.all")] %>
  <% radio_button_array.each do |radio_button| %>
    <div class="col-md-1" align="center">
      <%= radio_button %>
      <% if "All" == radio_button %>
        <input type="radio" name="learn" value="get_all" checked="on"/>
      <% else %>
        <input type="radio" name="learn" value="<%= radio_button %>"/>
      <% end %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-2">
    </div>
    <div class="col-md-4">
        <input type="text" name="word_search" class="form-control"/>
    </div>
    <div class="col-md-2">
      <input type="submit", name="search", value="search", class="btn btn-primary" %>
    </div>
  </div>
<div>
