<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <table class="table table-hover w100">
      <tr>
        <td width="5%"><strong><%= I18n.t "word.id" %></trong></td>
        <td><strong><%= I18n.t "word.content" %></strong></td>
      </tr>
      <% words.each do |word| %>
        <tr>
          <td><%= word.id %></td>
          <td><%= word.content.capitalize %></td>
        </tr>
      <% end %>
      <tr><td colspan="2"></td></tr>
    </table>
    <%= will_paginate words, renderer: BootstrapPagination::Rails %>
  </div>
</div>
