<h1><%= I18n.t(:listing_words) %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% @words.each do |w| %>
      <table width="100%">
        <tr>
          <td><strong><%= w.content.capitalize %></strong></td>
          <td align="right">
            <%= link_to I18n.t(:show), "/words/"+w.id.to_s %> |
            <%= link_to I18n.t(:edit), "/words/"+w.id.to_s+"/edit"  %> |
            <%= link_to I18n.t(:destroy), "/words/"+w.id.to_s, method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>  
      </table>
      <hr>
    <% end %>  
    <table width="100%">
      <tr>
        <td align="left"><%= will_paginate @categories, renderer: BootstrapPagination::Rails %></td>
        <td align="right"><%= link_to I18n.t(:new_word), new_word_path %></td>
      </tr>
    </table>
  </div>
</div>