<% @categories.each do |category| %>
  <table class="w100">
    <tr class="bg01">
      <td colspan="2"><strong><h3>&nbsp;<%= category.title.capitalize %></h3></strong></td>
    </tr>
    <tr class="bg01">
      <td colspan="2">
        &nbsp;<%= render "shared/category_words", object: category %><br>&nbsp;
      </td>
    </tr>
    <tr>
      <td>
        <em><%= I18n.t "general.total_word", count: category.words.count %></em>
        <% unless current_user.admin? %>
          <em><%= I18n.t :categories_you_have_learned, count: category.words.learned(current_user).count %></em>
        <% end %>
      </td>
      <td align="right">
        <% if current_user.admin? %>
          <%= link_to I18n.t(:show), category %> |
          <%= link_to I18n.t(:edit), edit_category_path(category) %> |
          <%= link_to I18n.t(:destroy), category, method: :delete, data: {confirm: I18n.t(:are_you_sure)} %>
        <% else %>
          <em>
            <% if category.words.unlearned(current_user).count > 0 %>
              <%= link_to I18n.t(:categories_start_learn), category_lessons_path(category_id: category.id), method: :post %>
            <% end %>
          </em>
        <% end %>
      </td>
    </tr>
  </table>
  <hr>
<% end %>
<table class="w100">
  <tr>
    <td align="left"><%= will_paginate @categories, renderer: BootstrapPagination::Rails %></td>
    <% if current_user.admin? %>
      <td align="right"><%= link_to I18n.t(:new_category), new_category_path %></td>
    <% end %>
  </tr>
</table>
